#card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}


.card-awesome {
    max-width: 550px;
    width: 550px;
    padding-top: 40px;
}

.btn-submit {
    width: 100%;
}

.card-platform {
    position: absolute;
    top: -80px;
    width: 100%;
    display: flex;
    justify-content: center;
}



// .test {
//     height: 40px;
//     width: 100%;
//     background-color: red;
// }

// &.-active {
//     .card-item__side {
//       &.-front {
//         transform: perspective(1000px) rotateY(180deg) rotateX(0deg)
//           rotateZ(0deg);
//       }
//       &.-back {
//         transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
//         // box-shadow: 0 20px 50px 0 rgba(81, 88, 206, 0.65);
//       }
//     }
//   }